@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Author's Blogs</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Created Date</th>
        <th>Category</th>
        <th>Status</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogId</td>
            <td>@item.Title</td>
            <td>@item.CreatedDate.ToShortDateString()</td>
            <td>@item.Category.CategoryName</td>
            <td>
                @if (item.Status)
                {
                    <span class="badge badge-success">Aktif</span>
                }
                else
                {
                    <span class="badge badge-secondary">Pasif</span>
                }
            </td>
            <td><a href="/Blogs/DeleteBlog/@item.BlogId" class="btn btn-danger">Delete</a></td>
            <td><a href="/Blogs/EditBlog/@item.BlogId" class="btn btn-warning">Edit</a></td>
        </tr>
    }
</table>
<a href="/Blogs/BlogAdd/" class="btn btn-primary">Create a New Blog</a>

